body {
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
#authPan:after{
  box-sizing: border-box;
}

.tabAct{
  background-color: yellowgreen;
}

.itemCards{
  display: flex;
  width: 100%;
  background-color: transparent;
  align-items: center;
  margin: auto;

}

h1{
  font-family: 'Montserrat', sans-serif;
  color: #444444;
  background: transparent;
  text-shadow: -1px 5px 12px rgba(0,0,0,0.63);

}
.card-body{
  background-color: transparent;
  align-items: center;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: cornsilk;
  text-shadow: 1px 15px 12px rgba(0,0,0,0.63);
}
hr{
  border: 2px solid darkblue;
  border-radius: 5px;
}
  .items{
    padding-top: 1em;
    text-align: center;
  }
  #wicBar{
    /* check if scanner works, if not: uncomment next 2 lines */
    background-color: white;
    color: black;
    font-size: 2em;
    font-family: 'Libre Barcode 39 Text', cursive;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .Card{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .card{
    background-color: transparent;
    align-items: center; 
    }
    
  div.card{
    background-color: transparent;
    border: none;
  }
  
  .add{
    padding-top: 1em;
    position: block;
    text-align: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
  
  .cardDude{
    width: 100%;
    margin: 0;
    background-color: transparent;
  }
  #cardCon{
    background-color: transparent;
    -webkit-appearance: none;
      border-radius: 1px;
    -webkit-box-shadow: 10px 10px 29px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px 9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px 9px rgba(0,0,0,0.75);

  }
  
  .cardHolder{
    width: '100%';
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .addHolder{
    width: '100%';
    display: flex;
    justify-content: center;
    padding-right: 45px;
    padding-top: 15px;
  }
  .card-text{
    width: '100%';
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 1px 4px;
  }
  .nav-link{
    padding: .5rem 2.12rem;
    border-top-left-radius:100px;
    }
    .nav-link.active{
      background-color: #B0C4DE !important;
    }

  #description{
    font-size: 15vh;
  }
  @media (min-width: 350px) {
    body {
      background-image: linear-gradient(to bottom, #206ad9, #3a76dc, #4d82df, #5f8de2, #7099e4, #6e94dc, #6c90d4, #6a8bcc, #5576b8, #4062a4, #2a4e90, #0d3b7d);
    }
    .addHolder{
      padding-right: 15%;
    }
  }
  
  @media (min-width: 500px) {
    body {
        background-image: url('./bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        background-attachment: fixed;
    }
  }
  
  @media (min-width: 600px) {
    body {
        background-image: url('./bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        background-attachment: fixed;
    }
    .addHolder{
      padding-right: 19%;
    }
    div.card{
      margin-left: 10px;
    }
  }
  