/* body {
  background-image: url(./bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
h1{
  font-family: 'Montserrat', sans-serif;
  color: #444444;
background: #FFFFFF;
text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: rgba(0,0,0,.6);
  text-shadow: 3px 2px 3px rgba(255,255,255,.2);}
.items{
  padding-top: 1em;
  text-align: center;
}
#wicBar{
  /* check if scanner works, if not: uncomment next 2 lines */
  background-color: white;
  color: black;
  font-size: 2em;
  font-family: 'Libre Barcode 39 Text', cursive;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.card{
  margin-bottom: 2em;
  margin-top: 0px;
  margin-left: 0px;
  background-color: transparent;

}

.add{
  padding-top: 1em;
  position: block;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardDude{
  width: 100%;
  margin: 0;
}
#cardCon{
  background-color: transparent;
}



/* td {
  padding-bottom: 1em;
  width: 50%;
  display:inline-block;
  margin: auto
} */
/* .cells{
  height: 30vh;
  text-align: center;
} */
#description{
  font-size: 5vh;
}
/* .blankRow{
  background-color: black;
} */


/* @media only screen and (max-width: 600px) {
  .add{
    text-align: center;
    position: unset;
  }
} */